<div class="col-md-12" ng-controller="goodsCtrl">
	<div class="col-md-6" ng-repeat="aImage in getDetail">
	    <ul id="lightSlider">
	        <li data-thumb="{{aImage.thumb}}">
	            <img src="{{aImage.image}}" />
	        </li>
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />-->
	        <!--</li>-->
	        <!--<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">-->
	            <!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />-->
	        <!--</li>-->
	    </ul>
	</div>
	<div class="col-md-6">

        <div class="caption">
            <div class="entry-meta">
                <span class="date"><i class="fa fa-calendar"></i>&nbsp;<time class="entry-time" itemprop="datePublished" datetime="2017-01-26T03:19:09+00:00">{{getDetail.day}}</time></span>
                <span class="entry-author author"><i class="fa fa-user"></i>&nbsp;<a href="#" class="entry-author-link" rel="author"><span class="entry-author-name" itemprop="name">expert</span></a></span>
                <span class="entry-categories categories-links"><i class="fa fa-folder-open"></i>&nbsp;&nbsp;<a href="#" rel="category tag">Computers &amp; Internet</a></span>
                <span class="hidden-xs entry-views"><i class="fa fa-eye"></i>&nbsp;1293</span>
                <span class="entry-comments-link leave-reply"><i class="fa fa-comments-o"></i> <a href="#">3</a></span>
            </div>
            <h3>{{getDetail.title}}</h3>
            <!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
            <!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
			<p>{{getDetail.shortDescription}}</p>

			<div class="col-md-12">
				<div class="col-md-4">
					<h4>Price: <span><strong>${{getDetail.price}}</strong></span></h4>
					<ul>
						<li><span><i class="glyphicon glyphicon-map-marker"></i>{{getUser.address}}</span></li>
						<li><span><i class="glyphicon glyphicon-map-marker"></i>&nbsp;{{getUser.address}}</span></li>
					</ul>
				</div>
	            <div class="col-md-8">
	            	<div class="col-md-12 col-md-offset-4">
	            		<button type="button" class="btn btn-primary"><span><strong>Exchange</strong></span></button>
	            		<br><br>
	            	</div>
	            	<div class="col-md-4 col-md-offset-2">
	            		<button type="button" class="btn btn-primary"><span><strong>Favorites</strong></span></button>
	            	</div>
	            	<div class="col-md-4 col-md-offset-2">
	            		<button type="button" class="btn btn-primary"><span><strong>Report</strong></span></button>
	            	</div>
	            	
	            </div>
			</div>

   			<div class="col-md-12">
   				<div class="col-md-4">
					<img src="assets/img/user1-128x128.jpg" class="avatar" alt="">
				</div>
				<div class="col-md-8">
					<h2>{{getUser.name}}</h2>
					<h3>Contact</h3>
					<ul>
						<li>{{getUser.phone}}</li>
						<li>{{getUser.address}}</li>
					</ul>
				</div>
   			</div>
			
        </div>
        
	</div>
</div>

<div class="clearfix">
	<hr>
</div>

<div class="row col-md-12">
	<h2>{{getDetail.title}}</h2>
	<!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
	<!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
	<!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />-->
	<!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
	<!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
	<!--<img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />-->
	<!--<p>Docker orchestration is what you need when transitioning from deploying containers individually on a single host to deploying complex multi-container apps on many machines.</p>-->
	<p>{{getDetail.longDescription}}</p>
</div>

<div class="row col-md-12" ng-repeat="aComment in getComment">
    <div class="blog-comment">
		<h4 class="text-success">Comments</h4>
        <hr/>
		<ul class="comments">
		<li class="clearfix">
		  <img src="{{aComment.avatar}}" class="avatar" alt="">
		  <div class="post-comments">
		      <p class="meta">{{aComment.day}} <a href="#">{{aComment.user}}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
		      <p>
		          {{aComment.body}}
		      </p>
		  </div>
		</li>
		<!--<li class="clearfix">-->
		  <!--<img src="{{getComment.avatar}}" class="avatar" alt="">-->
		  <!--<div class="post-comments">-->
		      <!--<p class="meta">{{getComment.day}} <a href="#">{{getComment.user}}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>-->
		      <!--<p>-->
				  <!--{{getComment.body}}-->
		      <!--</p>-->
		  <!--</div>-->

		  <!--<ul class="comments">-->
		      <!--<li class="clearfix">-->
		          <!--<img src="{{getComment.avatar}}" class="avatar" alt="">-->
		          <!--<div class="post-comments">-->
		              <!--<p class="meta">{{getComment.day}} <a href="#">{{getComment.user}}</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>-->
		              <!--<p>-->
						  <!--{{getComment.body}}-->
		              <!--</p>-->
		          <!--</div>-->
		      <!--</li>-->
		  <!--</ul>-->
		<!--</li>-->
		</ul>
	</div>
</div>

<script type="text/javascript">
	$('#lightSlider').lightSlider({
	    gallery: true,
	    item: 1,
	    loop:true,
	    slideMargin: 0,
	    thumbItem: 9
	});
</script>