<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-body">
                <div class="tab-content" ng-controller="loginCtrl">
                    <div id="sectionA" class="tab-pane fade in active">
                        <div class="innter-form">
                            <form class="sa-innate-form" method="post" role="form" ng-submit="login()" >
                                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                                    <label>Email Address</label>
                                    <input type="text" name="username" ng-model="userLoginEmail">
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                    <label>Password</label>
                                    <input type="password" name="password" ng-model="userLoginPassword">
                                </div>
                                <button type="submit">Sign In</button>
                                <a href="">Forgot Password?</a>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>