<div ng-controller="informationCtrl">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">User's Information</div>
            <form ng-submit="updateProfileUser()">
                <div class="col-md-12 profile-user">
                    <div class="group">
                    </div>
                    <div class="group">
                        <label>Email</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched" ng-model="user_info.id"
                               placeholder="username@info.com"
                               aria-describedby="profile-email" readonly="readonly">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label>First name</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched" ng-model="user_info.firstName"
                               placeholder="First Name" aria-describedby="profile-firstname">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label>Last name</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched" ng-model="user_info.lastName"
                               placeholder="Last Name" aria-describedby="profile-lastname">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label>Birthday</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched"
                               ng-model="user_info.birthday | date: 'yyyy-MM-dd'"
                               placeholder="yyyy-mm-dd" aria-describedby="profile-birthday">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label>Phone</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched" ng-model="user_info.phone"
                               aria-describedby="profile-phone" placeholder="Phone">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label>Address</label>
                        <input type="text" class="ng-pristine ng-valid ng-touched" ng-model="user_info.address"
                               aria-describedby="profile-address" placeholder="Address">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group col-md-6">
                        <button type="submit" class="button buttonBlue" ng-click="" ng-if="user_info.id == email">Save
                        </button>
                    </div>
                    </ul>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default headProfile">
            <div class="panel-heading">User's Information</div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <img ng-src="{{ user_info.avatar }}" width="128" class="profile-img thumbnail"
                             ng-click="selectAvatar()" alt="">
                        <input type="file" name="avatar" id="userAvatar" ng-model="user_info.avatar"
                               onchange="angular.element(this).scope().sendAvatar()" multiple>
                    </div>
                    <div class="col-md-8">
                        <h3>{{ user_info.firstName }} {{ user_info.lastName }}</h3>
                        <p class="createdate">Join date: {{user_info.createDate | date: 'yyyy-MM-dd'}}</p>
                        <input-stars max="5" ng-model="user_info.avgRating" id="userRating" class="list-inline" on-star-click=""
                                     style="color: #FF9800;"></input-stars>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="user.id != email">
            <form ng-submit="sendFeedback()">
            <div class="panel-heading">Give feedback for <i><b>{{user_info.id}}</b></i></div>
            <div class="panel-body profile-user">
                <div class="modal-body">
                    <div class="group">
                        <label for="title_feedback">Title</label>
                        <input type="text" class="form-control" id="title_feedback" ng-model="feedback.title">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group">
                        <label for="msg_feedback">Message</label>
                        <textarea rows="9" id="msg_feedback" ng-model="feedback.message">
                        </textarea>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <div class="group col-md-6 pull-right">
                        <button type="submit" class="button buttonBlue">Send</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div id="popupModel" class="modal animated fadeIn" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Response Title</h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reload()">Close</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>
</div>