
.post {
	font-size: 15px;
    display: inline-block;
    position: relative;
    float: left;        
    overflow: hidden;
    vertical-align: top;
    box-shadow: 0 2px 0 #D9E1E7;
    height: 250px;
    margin-right: 4%;
    margin-bottom: 4%;
    border-radius: 3px;
    background: #fff;
    padding: 0;
    [class*=' col-'] {
    	padding: 0;
    }
    .post-featured-image {
	    display: inline-block;
	    max-height: 100%;
	    border: none;
	}
    > a {
    	display: inline-block;
	    height: 100%;
	    border: none;
	    > img {
	    	margin: 0 auto;
	    	display: block;
		    max-height: 85%;
		    max-width: 85%;
		    width: auto;
		    position: relative;
			  top: 50%;
			  transform: translateY(-50%);
	    }
    }
    header {
    	height: 100%;
    	.entry-title {
		    font-size: 20px;
		    line-height: 1.3;
		    position: relative;
		    margin: 2% 0 4% 0;
		    font-weight: 600;
		}
		.download-meta {
		    border-top: dotted 1px #DBE0E4;
		    position: absolute;
		    z-index: 50;
		    bottom: 0;
		    left: 0;
		    right: 0;		    
		    font-size: 13px;
		    padding: 2%;
		    color: #9BA6AD;
		    font-weight: 600;

		    .download-meta-price {
			    display: inline-block;
			}

			.download-meta-name {
			    padding-top: 2px;
			    float: right;
			    .avatar {
				    border-radius: 30px;
				    display: inline-block;
				    vertical-align: top;
				    margin-right: 3px;
				    max-width: 20px;
				}
			}
		}
    }
}