.map-container {
	height: 120vh;
    width:  100%; /* For 100% screen width */
}

@media only screen and (max-width: 600px) {
	.map-search {
		.search-bar-container {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.map-search {
		.search-bar-container {
			width: 50%;
			margin-left: 0;
	    	padding-left: 0;
		}
	}
}

.map-search {
	position: absolute;
	z-index: 9999;
	.search-bar-container {		
	    margin-top: 50px;
	    
	    .big-search {    	 
	    	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);   
    	    #big-searchform {    	    	
	    		.user-location {
	    			display: inherit;
	    		}
    	    	.search-controls {
			    	display: none;
			    }
    	    }
    	    header {
    	    	.featured-title {
    	    		padding-bottom: 50px;
    	    	}
    	    	.download-meta {    	    	
    	    		padding: 2% 0 0 0;
    	    	}
    	    }
	    }	   
	}
}
.map-page {
	height: 170px !important;
	background: #000;	
}

.has-results {
	.big-search-input {
		box-shadow: none !important;
	}
}