<div class="big-search" click-outside="closeSuggest()">
    <form id="big-searchform" ng-submit="searchCall()" ng-class="{'has-results': mapHasResults || showMapSearchTips}">        
        <input type="text" class="big-search-input" ng-model="mapSearchString" placeholder="Exchange search" autocomplete="off" ng-change="getSearchResult()" ng-click="showMapSearchTips = mapHasResults = true"><br>

        <div class="search-controls">    
            <input type="submit" class="submit button" name="submit" id="big-search-submit" value="Search" />
        </div><!-- .search-controls -->
    </form><!-- #big-searchform -->
    <ul class="search-simple-result suggest tip" ng-class="{'hide': !showMapSearchTips || mapHasResults}">
        <li class="featured-item row">                        
            <div class="col-md-11 featured-title">
                <h3><strong>You can search with more attributes, for example:</strong></h3>
                <p><em>Macbook</em></p>
                <p><em>Macbook</em> <strong>with price</strong> between<em> $800 and $2000</em></p>
                <p><em>Macbook</em> <strong>near</strong> <em>me</em></p>
                <p><em>Macbook</em> <strong>around</strong> 125 Xo Viet Nghe Tinh, 1 district, Ho Chi Minh city</p>
                <h3><em>Macbook</em> <strong>exchange by</strong> <a href="mailto:glmanhtu@gmail.com">glmanhtu@gmail.com</a>&nbsp;</h3>
                <p>Or even combine them</p>
            </div>          
        </li>
    </ul>
    <ul class="search-simple-result suggest" ng-class="{'hide': !mapHasResults}">
        <li class="featured-item row" ng-repeat="(key, item) in searchResult | limitTo:5 " ng-click="moveMap(item.location[0])">
            <a>
                <div class="col-md-2 featured-img">
                    <img ng-src="{{ DOMAIN_URL + '/api' + item.featuredImage || 'assets/img/default-50x50.gif' }}">
                </div>
                <div class="col-md-10 featured-title">
                    <p>
                        {{ item.title | limitTo: 250 }}{{item.title.length > 250 ? '...' : ''}}
                    </p>
                </div>          
            </a>              
        </li>
    </ul>
</div>