<div class="big-search" click-outside="closeSuggest()">
    <form id="big-searchform" ng-submit="searchCall()" ng-class="{'has-results': mapHasResults || showMapSearchTips}">        
        <input type="text" class="big-search-input" ng-model="mapSearchString" placeholder="Exchange search" autocomplete="off" ng-change="getSearchResult()" ng-click="showCurrentSuggest()"><br>

        <div class="search-controls">    
            <input type="submit" class="submit button" name="submit" id="big-search-submit" value="Search" />
        </div><!-- .search-controls -->
    </form><!-- #big-searchform -->
    <ul class="search-simple-result suggest tip" ng-class="{'hide': !showMapSearchTips || mapHasResults || showLocationResults}">
        <li class="featured-item row">                        
            <div class="col-md-11 featured-title">
                <h3><strong>You can search with more attributes, for example:</strong></h3>
                <p><em>Macbook</em></p>
                <p><em>Macbook</em> <strong>with price</strong> between<em> $800 and $2000</em></p>
                <p><em>Macbook</em> <strong>near</strong> <em>me</em></p>
                <p><em>Macbook</em> <strong>around</strong> 125 Xo Viet Nghe Tinh, 1 district, Ho Chi Minh city</p>
                <h3><em>Macbook</em> <strong>exchange by</strong> <a href="mailto:glmanhtu@gmail.com">glmanhtu@gmail.com</a>&nbsp;</h3>
                <p>Or even combine them</p>
            </div>          
        </li>
    </ul>
    <ul class="search-simple-result suggest" ng-class="{'hide': !showLocationResults}">        
        <li class="featured-item row" ng-repeat="(key, item) in placeResult | limitTo:5 ">
            <a>                
                <div class="col-md-12 featured-title">
                    <div class="col-md-10" ng-click="getSearchByLocation(item.geometry.location)">
                        {{ item.formatted_address | limitTo: 150 }}{{item.title.length > 150 ? '...' : ''}}
                    </div>
                    <button type="button" ng-click="moveMap(item.geometry.location)" class="col-md-2">View</button>
                </div>          
            </a>              
        </li>
    </ul>
    <ul class="search-simple-result suggest">
        <li class="featured-item row" ng-class="{'hide': !loading}">
            <div class="cssload-loader" >
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
        </li>     
        <li class="featured-item row" ng-repeat="(key, item) in searchResult | limitTo:5 ">
            <header>
                <div class="col-md-2 col-xs-3 featured-img">
                    <img ng-src="{{ DOMAIN_URL + '/api' + item.featuredImage || 'assets/img/default-50x50.gif' }}">
                </div>
                <div class="col-md-10 col-xs-9 featured-title">
                    <div ng-click="openGood(item)">
                        {{ item.title | limitTo: 100 }}{{item.title.length > 100 ? '...' : ''}}
                    </div>
                    <div class="download-meta">
                        <div class="download-meta-price download-price-toggle">
                            <div class="download-meta-price-details">
                                <a href="#"><span class="ng-binding">$1295.15</span></a>
                            </div>
                        </div>
                        <div class="download-meta-name">
                            <span class="author vcard" ng-click="moveMapOnServer(item.location[0])">
                                <a>
                                    {{item.distance}} Km
                                </a>
                            </span>
                        </div>
                    </div>                     
                </div>    
            </header>
        </li>
    </ul>
</div>