<div class="content-vertical-center col-md-12 col-sm-12 col-xs-12">
	
	<div class="col-md-8 col-sm-9 col-xs-10">
		<searchbar></searchbar>
	</div>
	<div ng-controller="navigationCtrl" class="col-md-4 col-sm-3 col-xs-2">
		<div class="dropdown topbar-accountInfo pull-right" ng-if="userProfile">
			<button class="btn btn-primary dropdown-toggle topbar-settingsMenuButton" style="" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<!-- {{ userProfile.firstName }} -->
				<a uib-dropdown-toggle class="profile-toggle-link">
				<img ng-src="{{avatar}}" height="20" width="20">
				</a>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#/post">Post</a></li>
				<li><a href="#/profile/{{ userProfile.id }}">Profile</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="" ng-click="logout()">Logout!</a></li>
			</ul>
		</div>
		<div class="dropdown topbar-accountInfo pull-right" ng-if="!userProfile">
			<a href="/#/login" class="btn btn-primary topbar-settingsMenuButton" style="" type="button">
				&nbsp;&nbsp;Login&nbsp;&nbsp;
			</a>
		</div>

	</div>
</div>