<div class="content-vertical-center">
	
	<searchbar></searchbar>

	<div ng-controller="navigationCtrl" class="dropdown topbar-accountInfo">
	  <button class="btn btn-primary dropdown-toggle topbar-settingsMenuButton" style="" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {{ userName }}
	    <i class="glyphicon glyphicon-user"></i>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a href="#">Contact</a></li>
	    <li><a href="#/post">Post</a></li>
	    <li><a href="#/profile">Profile</a></li>
	    <li role="separator" class="divider"></li>
	    <li><a href="" ng-click="logout()">Logout!</a></li>
	  </ul>
	</div>
	

</div>
