<!--<div class="sidebar">-->
<div>

    <div class="col-md-2 col-sm-4 col-xs-12">
        <a href="." class=""><img class="app-logo img-responsive" src="assets/img/expert-exchange-logo_160.png"></a>
    </div>

    <div class="col-md-10 col-sm-8 col-xs-12">
        <div class="search-bar">
            <nav class="navbar">
                <form ng-submit="searchCall()">
                    <div class="form-group col-md-8 col-sm-8 col-xs-8">
                        <input id="searchInput" ng-model="searchString" class="form-control" type="text" placeholder="Search for...">
                    </div>

                    <div class="form-group col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" id="search-location" ng-model="selectedLocation">
                            <option ng-repeat="x in locationList" value="{{x.value}}">{{x.name}}</option>
                        </select>
                    </div>
                </form>
                    
            </nav>
        </div>
    </div>
</div>