
<div class="big-search">
    <form id="big-searchform" ng-submit="searchCall()">
        <input type="text" id="big-search" ng-model="searchString" placeholder="Search here..." value=""><br>

        <div class="search-controls">
        
            <div class="search-select-wrap">
                <select class="search-select" ng-model="selectedLocation">
                            <option ng-repeat="x in locationList" value="{{x.value}}">{{x.name}}</option>
                </select>            
            </div>

        
            <input type="submit" class="submit button" name="submit" id="big-search-submit" value="Search">
        </div><!-- .search-controls -->
    </form><!-- #big-searchform -->
</div>