<div class="main-container">
    <div class="col-md-12 col-xs-12">
        <form>
            <div class="col-md-12">
                <div class="col-md-5 col-xs-12">
                    <div class="input-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="input-group" placeholder="Title" ng-model="aGood.title">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="inputs-category">Category</span>
                        <select class="selectpicker" ng-model="aGood.category.name" ng-options="cate for cate in categories">
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="inputs-price">Price</span>
                        <input type="text" class="form-control" placeholder="Price" aria-describedby="inputs-price" ng-model="aGood.price">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="inputs-address">Address</span>
                        <input type="text" name="catogory" class="form-control" placeholder="Address" aria-describedby="inputs-category" ng-model="aGood.address">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="inputs-image">Upload Images</label>
                        <input type="file" id="myfile" name="myfile" multiple />
                    </div>
                    <br>
                </div>
                <div class="col-md-7 col-xs-12">
                    <div class="form-group">
                        <label for="inputs-image">Location</label>
                        <ul>
                            <li ng-repeat="location in listLocations">
                                <button type="button" class="btn btn-primary btn-sm" 
                                        ng-click="chooseMarker(location)">{{ location.nameStreet | limitTo: 35 }}{{location.nameStreet.length > 35 ? '...' : ''}}</button>
                                <button type="button" class="close" aria-label="Close" ng-click="removeLocation(location)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <div class="form-group" map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_KEY}}&libraries=places">
                        <input  places-auto-complete types="['geocode']" 
                                on-place-changed="placeMarker()"
                                ng-model="searchAutoComplete">
                        <button type="button" ng-click='addLocation()' class="btn btn-primary">Add</button>
                        <ng-map map-type-control="false"
                                default-style="true" 
                                scrollwheel="false"
                                center="{{centerMap}}"
                                zoom="15">
                            <marker position="{{latlng}}" 
                                    on-dragend="getpos($event)" 
                                    animation="Animation.BOUNCE" 
                                    animation="DROP"
                                    draggable="true"></marker>
                            <info-window id="myInfoWindow" >
                                <div ng-non-bindable="">
                                <h4>aaaa</h4>
                                </div>
                            </info-window>
                        </ng-map>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputs-content"><span class="">Description:</span></label>
                    <text-angular name="htmlcontent" ng-model="aGood.description"></text-angular>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-10">
                <button type="button" ng-click='addGood()' class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>