<div class="main-container">
    <div class="col-md-12 col-xs-12">
        <form>
            <div class="col-md-12 menu-item">
                <div class="col-md-5 col-xs-12">
                    <div class="group">
                        <input type="text" ng-model="aGood.title" ng-class="{used: aGood.title}" />
                        <span class="highlight"></span><span class="bar"></span>
                        <label>Title</label>
                    </div>
                    <div class="group">
                        <label>Category</label>
                        <select ng-model="aGood.category.name" ng-options="cate for cate in categories">
                        </select>
                    </div>
                    <div class="group">
                        <input type="text" ng-model="aGood.price" ng-class="{used: aGood.price}" />
                        <span class="highlight"></span><span class="bar"></span>
                        <label>Price</label>
                    </div>
                    <div class="group">
                        <input type="text" ng-model="aGood.address" ng-class="{used: aGood.address}" />
                        <span class="highlight"></span><span class="bar"></span>
                        <label>Address</label>
                    </div>
                    <div class="group">
                        <label for="inputs-image">Upload Images</label>
                        <input type="file" id="myfile" name="myfile" multiple />
                    </div>
                </div>
                <div class="col-md-7 col-xs-12">
                    <div class="group">
                        <label>Location</label>
                        <ul>
                            <li ng-repeat="location in listLocations">
                                <button type="button" class="btn btn-primary btn-sm" 
                                        ng-click="chooseMarker(location)">{{ location.nameStreet | limitTo: 35 }}{{location.nameStreet.length > 35 ? '...' : ''}}</button>
                                <button type="button" class="close" aria-label="Close" ng-click="removeLocation(location)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="group" map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_KEY}}&libraries=places">
                        <input  places-auto-complete types="['geocode']" 
                                on-place-changed="placeMarker()"
                                ng-model="searchAutoComplete">
                        <button type="button" ng-click='addLocation()' class="btn btn-success">Add</button>
                        <ng-map map-type-control="false"
                                default-style="true" 
                                scrollwheel="false"
                                center="{{centerMap}}"
                                zoom="15">
                            <marker position="{{latlng}}" 
                                    on-dragend="getpos($event)" 
                                    animation="Animation.BOUNCE" 
                                    animation="DROP"
                                    draggable="true"></marker>
                        </ng-map>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputs-content"><span class="">Description:</span></label>
                    <text-angular name="htmlcontent" ng-model="aGood.description"></text-angular>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-10">
                <button type="button" ng-click='addGood()' class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>