.navigation {
	> div {		
		&.nav-create {
			float: left;
			width: $sidebar-width;
			padding-right: 20px;
			text-align: center;
			position: relative;
			> button {
				margin-top: 10px;
			}			
			> .list-item {
				position: absolute;
				z-index: 999;
				box-shadow: $shadow;
				background-color: $default;
				
				top: $nav-height;
				left: 10%;				
				padding: 10px;
				li {
					padding: 6px 10px;					
					text-align: left;
					i {						
						margin-right: 10px;					
					}
					&:hover {
						background-color: $default-highline;
						color: $default;
						cursor: pointer;
					}
				}
			}
		}
		&.nav-address {
			float: left;
			width: 60%;
			ul {				
				margin: 0;
				padding: 0;
				float: left;
				li {
					float: left;
					padding: 5px 10px;
					margin-top: 10px;
					cursor: pointer;
					border: 1px solid transparent;
					&:hover {
						border: $default-border;
					}
				}
			}
		}		
		&.nav-toolbox {
			float: right;
			margin-right: 40px;
			width: 20%;
			ul {				
				margin: 0;
			    padding: 0;
			    overflow: hidden;
			    display: inline-block;
			    float: right;
			    li {
			    	float: left;
			    	padding: 3px 5px;
			    	margin-top: 7px;
			    	font-size: 1.3em;	
			    	cursor: pointer;	
			    	border: 1px solid transparent;
			    	&:hover {
						border: $default-border;
					}	    
			    }
			}		
		}
	}
}