.big-search {
    position: relative;
    display: inline-block;
    width: 100%;    
    .has-results {
    	border-radius: 3px 3px 0 0 !important;
    	#big-search-submit {
    		border-radius: 0 3px 0 0 !important;
    	}
    }

    .user-location {
    	margin-bottom: 1px;
    }

    .big-search-input {
	    background: #fff;
	    font-size: 18px;
	    line-height: 2;
	    padding: 15px 20px;	    
	    border: none;
	    height: 100%;
	    background: #fff;    	   
	}

	.tip {
		.featured-img {
			height: 32px !important;
		}
	}

	.search-simple-result {
		width: 100%;		
		box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
		.featured-item {
			margin: auto;
			border-radius: 0;
			cursor: pointer;
		}	
	}

	.submit {
	    display: inline-block;
	    vertical-align: top;
	    border-bottom-left-radius: 0;
	    border-top-left-radius: 0;
	    padding: 0 35px;
	    font-size: 18px;
	    height: 100%;
	    transition: .2s ease-in-out;
	    color: #fff;
	    border: none;
	    border-radius: 0 3px 3px 0;
	    background: #37BF91;
	    line-height: 1.4;
	    -webkit-appearance: none;
	}
}

#big-searchform {    
    display: inline-block;
    border-radius: 3px;
    width: 100%;    
    position: relative;
    .user-location {
    	display: none;
    }
    .search-controls {
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;	   
	}
}