<div class="container">

    <div class="col-md-12 form-group">
        <h2><span class="label label-primary from-control">Search Results:</span></h2>
    </div>

    <div class="col-md-8 " ng-controller="searchCtrl as vm">
        
        <div ng-if="vm.items == null ">
            
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only"></span>
              No products were found matching your selection.
            </div>

        </div>
        
        <div ng-if="vm.items != null ">
            <div ng-repeat="item in vm.items">

                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="#/goods/{{ item.id }}" target="_blank">
                                <img src="assets/img/default-placeholder.png" alt="item" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="caption">
                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i>&nbsp;<time class="post-time" itemprop="datePublished" datetime="">{{ item.postDate | date:'yyyy-MM-dd HH:mm:ss'}}</time></span>
                                <span class="entry-author author"><i class="fa fa-user"></i>&nbsp;<a href="#" class="entry-author-link" rel="author"><span class="entry-author-name" itemprop="name"> {{ item.seller.firstName }} {{ item.seller.lastName }} </span></a></span>
                                <span class="entry-categories categories-links"><i class="fa fa-folder-open"></i>&nbsp;<a href="#" rel="category tag">{{ item.type }}</a></span>
                                <span class="hidden-xs entry-views"><i class="fa fa-eye"></i>&nbsp;321</span>
                                <span class="entry-comments-link leave-reply"><i class="fa fa-comments-o"></i> <a href="#">3</a></span>
                            </div>
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>

            </div>             

            <hr>

            <div class="col-md-12">

                <ul ng-if="vm.pager.pages.length" class="pagination">
                    <li ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a ng-click="vm.setPage(1)">First</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
                    </li>
                    <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                        <a href="#/search" ng-click="vm.setPage(page)">{{page}}</a>
                    </li>                
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
                    </li>
                </ul>

            </div>
        </div>
    

    </div>
</div>

